.containerUploader{
    background-color: #FFF;
    border-radius: 10px;
    margin: 32px;
    padding: 32px;
    width: calc(100% - 128px);    
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);        
}
.containerDrop{
    border: 1px dashed #CCD6E2;    
    border-radius: 10px;    
    width: 100%;
    text-align: center;
}
.containerDrop img{
    width: 100px;
    margin: 20px 0;
}